* {
    font-family: 'Roboto', sans-serif;   
}

body {
    background-color: var(--dark);
}

:root {
    --dark: rgb(27, 27, 27);
    --Teal: rgb(0, 255, 195);
}

header {
    background-color: var(--dark);
    color: var(--Teal);
    border-bottom: 8px solid black;
}

header nav ul li a {
    color: var(--Teal);
}

header nav ul li a:hover {
    color: rgb(59, 125, 114);
}

main {
    background-color: white;
    height: 100%;
    padding-bottom: 30px;
}

.abouth1 {
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 700;
    padding-right: 35px;
    padding-left: 35px;
}

.about2 {
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

.aboutp {
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
}

.contactDiv {
    padding-top: 25px;
    margin-left: 18px;
}

.contactI {
    padding-left: 35px;
    width: 25%;
}

.contactS {
    margin-left: 35px;
}

.portdiv {
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolioDiv {
    padding-top: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: var(--dark);
    border-top: 8px solid black;
}

.Git {
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 20px;
    color: var(--Teal);
}

.Link {
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 20px;
    color: var(--Teal);
}

.Git:hover {
    color: black;
    cursor: pointer;
    color: rgb(59, 125, 114);
}

.Link:hover {
    color: black;
    cursor: pointer;
    color: rgb(59, 125, 114);
}

.portIMG:hover {
    text-decoration: underline;
    cursor: pointer;
}

img:hover {
    filter: drop-shadow(4px 4px 4px black);
}